<div class="form-group integer optional mood_energy">
  <label class="integer optional control-label" for="mood_energy">Energy</label>
  <input  class="numeric integer optional form-control form-control" 
          type="range" min="0" max="1000" step="1" 
          name="mood[energy]" 
          id="mood_energy" />
</div>