<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
  $(function () {
    $('#container').highcharts({

        exporting: { enabled: false 
        },

          credits: {
            enabled: false
        },

        chart: {
            type: 'spline'
        },
        title: {
            text: false
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {

            labels: {
                enabled: true
            },

            title: {
                text: ''
            },
            min: <%= @y_min %>,
            max: <%= @y_max %>,

        }, 

        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}'
            //: {point.y:.2f} m'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },



        series: 
        [
        <% @trackables.each do |trackable| %> 
            {
            name: "<%= trackable.name %>",
        <% @trackable_data = [] %>
        <% trackable.points.each do |point| %>
            
            <% @trackable_data << [point.created_at.to_i*1000, point.value] %>
        <% end %>
            data: <%= @trackable_data %> 
            },
        <% end %>
        ] 
    });
});
</script>