@import "bootstrap-sprockets";
@import "bootstrap";



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.new-graph {
  font-size: 1.2em;
  margin-right: 2%;
  float:right;
  margin-top: 16px;
}

li {
  list-style: none;
}

.graphs-list {
  font-size: 2em;
}

/*turn off form asterisk*/
abbr[title="required"] {
  display: none;
}

#delete-trackable-btn {
  float: right;
}